/****** General ***********/
* {
     font-family: "Raleway", Arial; /***Import de Google Fonts de la police***/
}

:root {
     --main-color: #0065fc;
     --main-bg-color: #f2f2f2;
     --filter-bg-color: #deebff;
}

/***    HEADER     ****/
header {
     margin-top: 0;
     margin-bottom: 90px;
     padding-top: 0;
}

/**********    Partie Navigation **********************/

.partie.navigation {
     display: flex;
     justify-content: space-between; /* espace entre logo et menu */
     align-items: center; /* aligne verticalement pour pas prendre toute la hauteur */
     position: relative;
     flex-wrap: nowrap; /* force une seule ligne */
     margin-bottom: 90px;
}

.logo-booki {
     width: 50px;
     height: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
}

.partie.navigation ul {
     display: flex;
     align-items: center;
     gap: 68px; /* espace entre les liens */
     list-style: none; /* supprime les puces */
     margin: 0;
     padding: 0;
     margin-left: auto; /* pousse le menu à droite du logo */
}

.partie.navigation li a {
     text-decoration: none; /***supprime le soulignement des liens***/
     color: #333;
     font-weight: bold;
     position: relative;
     display: block;
     padding: 20px 0;
     opacity: 1;
     border-top: 3px solid transparent;
}

.partie.navigation li a:hover {
     border-top: 3px solid var(--main-color);
     color: var(--main-color);
}

/***** Titre h1 ******/

.Titre-h1 {
     display: flex;
     flex-direction: column;
     margin-bottom: 50px;
}

.Titre-h1 h1 {
     margin: 0;
}

.Titre-h1 p {
     margin: 0;
}

/****** Partie Barre de recherche *****/

.localisation {
     display: inline-block;
     border: 2px solid #f2f2f2;
     border-radius: 10px;
     padding: 0;
     overflow: hidden;
     line-height: 0;
     height: 40px;
     margin-bottom: 30px;
}

.fa-solid.fa-location-dot {
     padding: 12px;
     background-color: #f2f2f2;
     color: #000000;
     vertical-align: top;
}

.BarreDeRecherche {
     display: inline-flex; /* empêche le form de s'étirer */
     align-items: center;
     margin: 0;
     padding: 0;
     border: none;
     vertical-align: top;
     height: 100%;
}

.BarreDeRecherche input {
     border: none; /*  enlève toute bordure interne */
     outline: none;
     padding: 12px;
     font-size: 16px;
     background: none;
     height: 100%;
     box-sizing: border-box;
}

.BarreDeRecherche input::placeholder {
     color: #000000;
}

.BarreDeRecherche button {
     border: none; /* pas de bordure supplémentaire */
     outline: none;
     background-color: #0065fc;
     color: white;
     padding: 12px 16px;
     height: 100%;
     box-sizing: border-box;
}

/*******    FILTRES      **********/

.ContainerDesFiltres {
     display: flex;
     align-items: center;
     gap: 15px;
     margin-bottom: 30px;
}

.Container-Mobile {
     display: flex;
     align-items: center;
     gap: 15px;
}

.filtre {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 0px 25px;
     border: 1px solid #cecece;
     border-radius: 25px;
     cursor: pointer;
}

.filtre:hover {
     background-color: #deebff;
}

.filtre i {
     font-size: 14px;
}

.filtre p {
     font-weight: bold;
     font-size: 14px;
}

/******   INFO   *************/

.info {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-bottom: 30px;
}

.cercle {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     border: 1px solid rgb(211, 211, 211);
     color: #0065fc;
}

.info p {
     margin: 0;
}

/****** Global styles ***********/

.fa-solid {
     color: var(--main-color);
}

body {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0;
}

html,
header {
     margin: 0;
     padding: 0;
}

.main-container {
     width: 100%;
     max-width: 1440px;
     padding: 0 50px;
     box-sizing: border-box;
}

a {
     color: inherit;
     text-decoration: none;
}

.section-title {
     margin: 0;
     font-size: 22px;
}

.card {
     background-color: white;
     border-radius: 20px;
     padding: 5px;
     filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
     object-fit: cover;
}

.card-title {
     font-size: 16px;
}

.euro {
     font-weight: 700;
}

.neutral-star {
     color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
     display: flex;
     justify-content: space-between;
}

.hebergements-and-populaires section {
     background-color: var(--main-bg-color);
     border-radius: 20px;
     padding: 30px;
     box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
     width: 65%;
}

.hebergements-titre {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.les-cartes-hebergements {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}

.hebergements-contour {
     display: flex;
     flex-direction: column;
     background-color: white;
     border-radius: 25px;
     padding: 5px;
     box-sizing: border-box;
     height: auto;
     overflow: hidden;
     filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.les-cartes-hebergements img {
     width: 100%;
     height: 136px;
     border-radius: 20px 20px 0 0;
     object-fit: cover;
}

.les-cartes-hebergements .contenu-chambre {
     padding: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-grow: 1;
     background-color: white;
}

.les-cartes-hebergements .titre-chambre {
     margin: 0;
     font-size: 16px;
     font-weight: bold;
}

.les-cartes-hebergements .description-chambre {
     margin: 0;
     font-size: 13px;
}

.les-cartes-hebergements .hebergements-notation-chambre {
     margin-top: auto;
}

.afficher-plus-container {
     display: flex;
     margin-top: 50px;
}

.Afficher.plus {
     font-weight: bold;
}

/****** Populaires ***********/
.populaires {
     width: 32%;
}

.populaires-title {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.populaires-cards .card {
     display: flex;
     margin-top: 33px;
}

.populaires-cards img {
     width: 33%;
     height: 136px;
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
     width: 67%;
     padding-left: 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     box-sizing: border-box;
}

.populaires-cards .card-title {
     margin-top: 10px;
     margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
     margin: 0;
}

.populaires-cards .card-rating {
     margin-bottom: 5px;
}

/****** Activités ***********/

.Activites {
     margin-top: 80px;
     margin-bottom: 35px;
     padding-left: 30px;
     padding-right: 30px;
}

.Activites h2 {
     margin-bottom: 30px;
}

.activites-sans-titres {
     display: flex;
     gap: 30px;
}

.lien-activites {
     flex: 1;
     text-decoration: none;
     color: inherit;
}

.activites-contenu {
     display: flex;
     flex-direction: column;
     border-radius: 20px;
     overflow: hidden;
     height: 100%;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.activites-contenu img {
     width: 100%;
     height: 400px;
     object-fit: cover;
}

.activites-titre-2 {
     margin: 15px;
     font-size: 16px;
}

/****** Footer ***********/

footer {
     background-color: var(--main-bg-color);
     display: flex;
     justify-content: space-around;
     padding-left: 30px;
}

.contenue.footer {
     flex: 1;
}

.contenue.footer h2 {
     font-size: 18px;
     margin-top: 30px;
}

.footer-links {
     list-style: none;
     padding: 0;
     margin: 0;
}

.footer-links li {
     margin-bottom: 20px;
     font-size: 18px;
}

.footer-links a {
     text-decoration: none;
     color: inherit;
}

/****** Media queries ***********/

/* Big devices (large desktops, more/equal than 1024px) */
@media (min-width: 1440px) {
     .main-container {
          width: 100%;
          max-width: 1440px;
          margin: 0 auto; /* centre le conteneur, évite qu’il s’étire fonctionnement  */
     }
     body {
          background: white; /* blanc autour si l’écran est plus large */
     }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
     .hebergements-and-populaires {
          flex-direction: column;
     }

     .hebergements {
          width: 100%;
     }

     .populaires {
          width: 100%;
          margin-top: 50px;
     }

     .populaires-cards {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
     }

     .populaires-cards a {
          width: 30%;
     }

     .populaires-cards .card-title {
          font-size: 14px;
     }

     .populaires-cards .card-subtitle {
          font-size: 13px;
     }

     .bouton-loupe {
          display: none;
     }

     .activites-contenu img {
          height: 200px;
     }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
     .main-container {
          padding: 0px;
     }

     .header {
          display: flex;
          flex-direction: column;
     }

     /****** Navigation small devices ***********/

     .partie.navigation {
          flex-direction: column;
          align-items: center;
     }

     .partie.navigation .logo-booki {
          margin-bottom: 10px;
          margin-top: 60px;
          height: 45px;
          width: auto;
     }

     .partie.navigation ul {
          height: 100px;
          width: 100%;
          margin-left: 0;
          margin-top: 20px;
          align-items: center;
          gap: 0;
     }

     .partie.navigation li {
          width: 50%;
          text-align: center;
     }

     .partie.navigation li a {
          font-size: 28px;
          font-family: "Raleway", Arial;
          font-weight: 400;
          border-bottom: 3px solid #f2f2f2;
     }

     .partie.navigation li a:hover {
          border-top: none;
          border-bottom: 3px solid var(--main-color);
          color: var(--main-color);
     }

     .Titre-h1 h1 {
          font-size: 45px;
          padding-left: 35px;
     }

     .Titre-h1 p {
          font-size: 32px;
          padding-left: 35px;
          padding-top: 20px;
     }

     /****** Barre de recherche small devices ***********/

     .localisation {
          width: calc(100% - 70px);
          margin-left: 35px;
          margin-right: 35px;
          height: 90px;
          padding: 0;
          line-height: 90px;
          display: flex;
          align-items: stretch;
          border-radius: 20px;
     }

     .fa-solid.fa-location-dot {
          padding: 0 35px;
          font-size: 35px;
          height: 100%;
          display: inline-flex;
          align-items: center;
     }

     .BarreDeRecherche {
          height: 100%;
          flex: 1;
     }

     .BarreDeRecherche input {
          height: 100%;
          font-size: 35px;
          width: 100%;
          font-weight: bold;
     }

     .BarreDeRecherche button[type="submit"] {
          display: none;
     }

     .bouton-loupe {
          display: flex !important;
          align-items: center;
          justify-content: center;
          border: none;
          background-color: #0065fc;
          color: white;
          padding: 0;
          height: 100%;
          width: 110px;
          cursor: pointer;
          font-size: 35px;
          border-radius: 20px;
     }

     .bouton-loupe i {
          color: white;
     }

     /****** FILTRES small devices ***********/

     .ContainerDesFiltres {
          flex-direction: column;
          align-items: flex-start;
          margin-left: 35px;
          margin-right: 35px;
          margin-bottom: 60px;
     }

     .ContainerDesFiltres h2 {
          font-size: 35px;
          font-weight: bold;
     }

     .filtre {
          gap: 20px;
          height: 90px;
          border-radius: 40px;
     }

     .Container-Mobile {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 20px;
          column-gap: 25px;
          width: 100%;
          align-items: stretch; /* Les filtres prennent toute la hauteur de leur cellule */
          grid-auto-rows: 1fr; /* Toutes les lignes ont la même hauteur */
     }

     .filtre i {
          font-size: 40px;
     }

     .filtre p {
          font-weight: bold;
          font-size: 25px;
     }

     .info {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-bottom: 60px;
          margin-left: 35px;
          margin-right: 35px;
     }

     .cercle {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 1px solid rgb(211, 211, 211);
          color: #0065fc;
     }

     .info p {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
     }

     .info i {
          font-size: 20px;
     }

     /****** Hebergements And Populaires Small devices ***********/
     .hebergements-and-populaires {
          display: flex;
          flex-direction: column;
     }

     .hebergements-and-populaires section {
          padding: 60px;
          box-sizing: border-box;
     }

     .hebergements-and-populaires .hebergements {
          background-color: white;
          border-radius: 0; /* Enlève aussi les coins arrondis si besoin */
     }

     .hebergements-and-populaires .populaires {
          order: 1;
          width: 100%;
          border-radius: 0;
     }

     .hebergements-and-populaires .hebergements {
          order: 2;
          width: 100%;
     }

     /* Mise en colonne */
     .les-cartes-hebergements {
          grid-template-columns: 1fr;
          gap: 20px;
     }

     .populaires-cards {
          display: flex;
          flex-direction: column;
          gap: 20px;
     }

     .populaires-cards .card {
          width: 100%;
     }

     /****** Populaires small devices ***********/
     .populaires {
          display: flex;
          flex-direction: column;
          width: 100%;
     }

     .populaires-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     .section-title {
          font-size: 40px;
     }

     .populaires-title i {
          font-size: 35px;
     }

     .populaires-cards a {
          width: 92%;
          margin: 0 auto;
     }

     .populaires-cards .card {
          display: flex;
          margin-top: 24px;
     }

     .populaires-cards img {
          width: 30%;
          height: 250px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
     }

     .populaires-cards .card-content {
          width: 75%;
          padding-left: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
     }

     .populaires-cards .card-title {
          margin-top: 10px;
          margin-bottom: 4px;
          font-size: 30px;
     }

     .populaires-cards .card-subtitle {
          margin: 0;
          font-size: 25px;
     }

     .populaires-cards .card-rating {
          margin-bottom: 5px;
          font-size: 25px;
     }

     /****** Hebergements small devices***********/
     .hebergements {
          width: 100%;
     }

     .hebergements-titre {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 25px;
     }

     .hebergements-contour {
          display: flex;
          flex-direction: column;
          background-color: white;
          border-radius: 25px;
          padding: 5px;
          box-sizing: border-box;
          height: auto;
          overflow: hidden;
          filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
          width: 92%;
     }

     .les-cartes-hebergements img {
          width: 100%;
          height: 200px;
          border-radius: 20px 20px 0 0;
          object-fit: cover;
     }

     .les-cartes-hebergements .contenu-chambre {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          background-color: white;
     }

     .texte-chambre {
          padding-bottom: 10px;
     }

     .les-cartes-hebergements .titre-chambre {
          margin: 0;
          font-size: 30px;
          font-weight: bold;
     }

     .les-cartes-hebergements .description-chambre {
          margin: 0;
          font-size: 25px;
          font-weight: normal;
     }

     .les-cartes-hebergements .hebergements-notation-chambre {
          margin-top: auto;
          font-size: 25px;
     }

     .afficher-plus-container {
          display: flex;
          margin-top: 50px;
     }

     .Afficher.plus {
          font-weight: bold;
          font-size: 30px;
     }

     /****** Activités small devices ***********/

     .Activites {
          display: flex;
          flex-direction: column;
          margin-top: 80px;
          margin-bottom: 35px;
          padding: 60px;
     }

     .Activites h2 {
          margin-bottom: 30px;
          font-size: 35px;
     }

     .activites-sans-titres {
          display: flex;
          flex-direction: column;
          gap: 30px;
     }

     .lien-activites {
          flex: 1; /* flex-grow: 1 → l'élément peut grandir et occuper l'espace disponible
                            flex-shrink: 1 → l'élément peut rétrécir si nécessaire
                           flex-basis: 0 → la taille de base est 0 avant distribution de l'espace              concretement si il y a plusieurs elements dans mon contenaire flex et bien chacun prendra que 1 espace si 3 elements alors chacun occupera 1/3  */
          text-decoration: none;
          color: inherit;
     }

     .activites-contenu {
          display: flex;
          flex-direction: column;
          border-radius: 20px;
          overflow: hidden;
          height: 100%;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     }

     .activites-contenu img {
          width: 100%;
          height: 250px;
          object-fit: cover;
     }

     .activites-titre-2 {
          margin: 25px;
          font-size: 25px;
     }

     /****** Footer small devices ***********/

     footer {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 35px;
     }

     .contenue.footer h2 {
          font-size: 30px;
     }

     .footer-links li {
          font-size: 25px;
     }
}

/* Extra small devices (phones, less than 320px) */

@media (max-width: 320px) {
     .main-container {
          min-width: 320px;
     }
}
