/****** General ***********/
* {
    font-family: 'Raleway', Arial;  /***Import de Google Fonts de la police***/
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


/***HEADER***/




/**********Partie Navigation*********/

.partie.navigation {
  display: flex;
  justify-content: space-between; /* espace entre logo et menu */
  align-items: center;            /* aligne verticalement pour pas prendre toute la hauteur */
  position: relative;
}

.logo-booki {
    width: 50px;
    height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.partie.navigation ul {
 display: flex;
 padding-left: 50px;
 gap: 68px;             /* espace entre les liens */
 list-style: none;  /* supprime les puces */
 margin: 0;
 padding: 0;
}



.partie.navigation li a {
  text-decoration: none;    /***supprime le soulignement des liens***/
  color: #333;
  font-weight: bold;
  position: relative;
  width: 244px;
  height: 100%;
  opacity: 1;
  gap: 68px;
}




.partie.navigation li a:hover {
  border-top: 3px solid #0065FC;
  
}



/***** Titre h1 ******/


.titre-h1 {
   display: flex;
   display: table-column;
}








/****** Partie Barre de recherche *****/

.localisation {
  display: inline-flex;          /* la div s'adapte à son contenu */
  align-items: center;
  gap: 5px;
  border: 2px solid rgb(211, 211, 211); /* contour unique */
  border-radius: 10px;
  padding: 0;                   
  overflow: hidden;        

}

.fa-solid.fa-location-dot {
  padding: 12px;
  background-color: #F2F2F2;    
    color: #000000;
}

.BarreDeRecherche {
  display: inline-flex;          /* empêche le form de s'étirer */
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.BarreDeRecherche input {
  border: none;                  /*  enlève toute bordure interne */
  outline: none;
  padding: 12px;
  font-size: 16px;
  background: none;
 
}

.BarreDeRecherche input::placeholder {
  color: #000000; 
}



.BarreDeRecherche button {
  border: none;                  /* pas de bordure supplémentaire */
  outline: none;
  background-color: #0065FC;
  color: white;
  padding: 12px 16px;

}





/*******    FILTRES      **********/

.ContainerDesFiltres {
  display: flex;
  align-items: center;
  gap: 15px ;

}


.filtre {
  display: flex;
  align-items: center; 
  gap:10px; 
  padding: 5px 5px;     
  border: 1px solid #cecece; 
  border-radius: 15px;    
  cursor: pointer;        
  

}

.filtre i {
  font-size: 18px;
}



.filtre p {
  font-weight: bold;
}










/****** Global styles ***********/


.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}




















/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

* {
outline:1px solid red;
}